{% extends "WsGeneEditBundle:Include:column_left.html.twig" %}

{% set title = 'Sortable' %}

{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {


    })
</script>
{% endblock %}

{% block body_column %}
{% include 'WsGeneEditBundle:Include:menu_code.html.twig' %}
{% endblock %}


{% block body_content %}
<h3>{{ title }}</h3>

<ul class="nav nav-tabs" id="myTab">
    <li><a href="#tab1" data-toggle="tab">Configurer</a></li>
    <li class="active"><a href="#tab2" data-toggle="tab">Action</a></li>
    <li><a href="#tab3" data-toggle="tab">-</a></li>
    <li><a href="#tab4" data-toggle="tab">-</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="tab1">
        coming soon
    </div>
    <div class="tab-pane active" id="tab2">
        <div class="alert alert-info">sortable :</div>
        <a href="https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/sortable.md">sortable</a>
        <br>
    </div>
    <div class="tab-pane" id="tab3">
    </div>
    <div class="tab-pane" id="tab4">
    </div>
</div>

{% endblock %}

